# ==== App Configuration ====
APP_ENV=dev          # Application environment (e.g., dev, pro) [ Not use yet ]


# ==== Data Paths ====
DATA_DIR=/data       # Base directory for all data
COCO_DIR=coco        # Subdirectory name for COCO dataset

# URL to download COCO images
COCO_IMAGE_DOWNLOAD_URL="http://images.cocodataset.org/zips/val2017.zip"

# URL to download COCO annotations
COCO_ANNOTATION_DOWNLOAD_URL="http://images.cocodataset.org/annotations/annotations_trainval2017.zip"

OUTPUT_DIR=output                     # Output directory for processed results
FILTERED_IMAGE_DIR=selected_images    # Directory for filtered images
RESULT_DIR=result                     # Directory for final prediction results


# ==== Model Configuration ====
ULTRALYTICS_HOME=/model          # Directory where YOLO models are stored

SEG_MODEL_FILE=yolo26x-seg.pt    # Segmentation model filename
POS_MODEL_FILE=yolo26x-pose.pt   # Pose model filename


# ==== YOLO Inference Configuration ====
DEVICE=0     # Device ID
CONF=0.25    # Confidence threshold for detection
IMGSZ=640    # Input image size for inference
